<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users | Cineverse</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- icons import -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- import css styles -->
    <link rel="stylesheet" href="/css/adminstyle.css">
    <!-- add icon link -->
    <link rel="icon" href="/images/adminfix.png" type="image/x-icon">
</head>


<body class ="adminsbg">
    <%- include('partials/sidebar') %>

    <div class="container-users">
        <table class="table table-dark table-striped">
            <thead>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
            </thead>
            <tbody>
                <% for(let i=0; i < users.length; i++) { %>
                    <tr>
                        <td>
                            <%= users[i].id %>
                        </td>
                        <td>
                            <%= users[i].fname %>
                        </td>
                        <td>
                            <%= users[i].lname %>
                        </td>
                        <td>
                            <%= users[i].email %>
                        </td>
                        <td>
                            <%= users[i].pass %>
                        </td>
                        <td>
                            <a href="/api/users/edit-form/<%= users[i].id %>" class="btn btn-primary btn-sm"><i class='bx bxs-edit'></i></a>
                            <a href="/api/users/delete/<%= users[i].id %>" class="btn btn-danger btn-sm"><i class='bx bxs-trash'></i></a>
                        </td>

                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    </div>
</body>


</html>